<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Главная страница магазина</title>
    <link th:href="@{/css/stylesheet.css}"  type="text/css" rel="stylesheet">
</head>
<body>
    <div id="top_bar_black">
        <div id="logo_container">
            <div id="logo_image">
            </div>
            <div id="nav_block">
                <form th:action="@{/product}">
                    <input class="nav_button_input" type="submit" value="Главная">
                </form>
                <form th:action="@{/authentication}">
                    <input class="nav_button_input" type="submit" value="Войти">
                </form>
                <form th:action="@{/registration}">
                    <input class="nav_button_input" type="submit" value="Регистрация">
                </form>
            </div>
        </div>
    </div>
    <div id="main_container">
        <form th:method="POST" th:action="@{/product/search}">
            <fieldset>
                <legend>Поиск товаров</legend>
                <label for="search">Поиск по наименованию</label>
                <input type="text" id="search" name="search" th:value="*{value_search}">
                <hr>
                <p>Цена, P</p>
                <label for="ot">От</label>
                <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
                <br>
                <label for="do">До</label>
                <input type="text" name="do" id="do" th:value="*{value_price_do}">
                <hr>
                <br>
                <div>
                    <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                    <label for="ascending_price">Отсортировать по возрастанию цены</label>
                    <br>
                    <input type="radio" id="descending_price" name="price"
                           value="sorted_by_descending_price">
                    <label for="descending_price">Отсортировать по убыванию цены</label>
                    <br>
                    <hr>
                    <p>Категория товаров: </p>
                    <input type="radio" id="furniture" name="contract" value="furniture">
                    <label for="furniture">Мебель</label>
                    <br>
                    <input type="radio" id="appliances" name="contract" value="appliances">
                    <label for="appliances">Бытовая техника</label>
                    <br>
                    <input type="radio" id="clothes" name="contract" value="clothes">
                    <label for="clothes">Одежда</label>
                    <br>
                    <br>
                    <br>
                    <input type="submit" value="Найти">
                </div>
            </fieldset>
        </form>
    </div>
    <div id="content_container">
        <div id="header">
        </div>
        <div id="header_lower">
            <div class="lower" th:if="${search_product}">
                <div class="header_content_mainline"> Результат поиска:
                </div>
                <div  class="header_content_boxcontent" th:each="product : ${search_product}">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="170px">
                    <br>
                    <div class="header_content_boxcontent_a">
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    </div>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
            <div class="lower"  th:if="!${search_product}" >
                <div class="header_content_mainline"> Доступные товары:
                </div>
                <div class="header_content_boxcontent" th:each="product : ${products}">
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="170px">
                    <br>
                    <div class="header_content_boxcontent_a">
                        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    </div>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
