<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Заказы</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>Заказы</h3>-->
<!--<div th:each="order : ${orders}">-->
<!--    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>-->
<!--    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">-->
<!--    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">-->
<!--    <p th:text="'Количество: ' + ${order.getCount()}">-->
<!--    <p th:text="'Цена: ' + ${order.getPrice()}">-->
<!--    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>-->
<!--    <p th:text="'Cтатус: ' + ${order.getStatus()}">-->
<!--</div>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Заказы</title>
    <link th:href="@{/css/stylesheet.css}"  type="text/css" rel="stylesheet">
</head>
<body>
<div id="top_bar_black">
    <div id="logo_container">
        <div id="logo_image">
        </div>
        <div id="nav_block">
            <form th:action="@{/person account}">
                <input class="nav_button_input" type="submit" value="Главная">
            </form>
            <form th:action="@{/cart}">
                <input class="nav_button_input" type="submit" value="Корзина">
            </form>
            <form method="post" th:action="@{/logout}">
                <input class="nav_button_input" type="submit" value="Выход">
            </form>
        </div>
    </div>
</div>
<div id="content_container">
    <div id="header">
    </div>
    <div id="header_lower">
        <div class="lower" >
            <div class="header_content_mainline"> Ваши заказы:
            </div>
            <div  class="header_content_boxcontent" th:each="order : ${orders}">
                <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
                <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="170px">
                <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
                <p th:text="'Количество: ' + ${order.getCount()}">
                <p th:text="'Цена: ' + ${order.getPrice()}">
                <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
                <p th:text="'Cтатус: ' + ${order.getStatus()}">
            </div>
        </div>
    </div>
</div>
</body>
</html>
