<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Регистрация</title>
    <link th:href="@{/css/stylesheet.css}"  type="text/css" rel="stylesheet">
</head>
<body>
<div id="top_bar_black">
    <div id="logo_container">
        <div id="logo_image">
        </div>
        <div id="nav_block">
            <form th:action="@{/product}">
                <input class="nav_button_input" type="submit" value="Главная">
            </form>
            <form th:action="@{/authentication}">
                <input class="nav_button_input" type="submit" value="Войти">
            </form>
            <form th:action="@{/registration}">
                <input class="nav_button_input" type="submit" value="Регистрация">
            </form>
        </div>
    </div>
</div>
<div id="content_container">
    <div id="header">
    </div>
    <div id="header_lower">
        <div class="lower">
            <div class="registration-cssave header_content_mainline">
                <form method="post" th:actioin="@{/registration}" th:object="${person}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <h3 class="text-center">Регистрация</h3>
                    <div class="form-group">
                        <input class="form-control item" type="text" th:field="*{login}" id="login" placeholder="Логин" required>
                        <div class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control item" type="password" th:field="*{password}" id="password" placeholder="Пароль" required>
                        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block create-account" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
